{% extends "layout.html" %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Recognition type</th>
            <th>Recognized class</th>
            <th>Recognized score</th>
            <th>Sample rate</th>
            <th>NN name</th>
            <th>File name</th>
        </tr>
    </thead>

    <tbody>
        {% for rec in records %}
        <tr>
            <td>{{rec.date}}</td>
            <td>{{rec.rec_type}}</td>
            <td>{{rec.rec_class}}</td>
            <td>{{rec.rec_score}}</td>
            <td>{{rec.sample_rate}}</td>
            <td>{{rec.nn_name}}</td>
            <td>{{rec.filename}}</td>
            

        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}